@use "variables" as *;

@mixin top-radius () {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

@mixin bottom-radius () {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

@mixin  header-footer {
    //border: 1px dotted red;
    padding: 6px 12px;
}


