$main-font-family: Calibri, 'Arial Unicode MS', sans-serif;
$main-font-size: 12pt;

$hr-height:  1pt;
$line-width: 1pt;

$border-radius: 2.5mm;

$dark-gray:   #888;
$medium-gray: #aaa;
$gray:        #ccc;
$light-gray:  #f2f2f2;

$dark-background: rgba(17, 138, 110, 0.78);

$header-footer-line: 1px solid dodgerblue;